
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* --------------header menu banner css ------------- */

.bg_color{
    background-color: #264653;
}
.login_purchase_btn{
    background-color: #E76F51;

}
.text_banner_clr{
    color: #E0E0E0;
    font-size: 16px;
}

/* ..............................fetured bike style ---------- */

.bike_color{
    filter: grayscale(100%);
}

.feture_txt_clr{
    color: #EA8167;
    font-size: 14px;
}
.fetured_bikes hr{
    color: #EA8167;
    width:60px;
    padding: 1px 0;
    
}

/* ..............latest news card section --------- */

.read_more_btn{
        border: 2px solid #EA8167 ;

}
.active, .read_more_btn:active{
    background-color: #E76F51;
    color: white;
}

/*............... happy clients stayle  */


.star_color i{
    color: #E77C40;
}

.clients_name_clr{
    color: #23A6F0;
}
.head_txt_clr{
    color: #E77C40;
}
.banker_details_clr{
    color: #6C6C6C;
}

/* ..............upcoming bike ----------- */
.upcoming_bike_card_txt{
    font-size:14px ;
    color: #6C6C6C;
}

/* ................news about videos style .............  */
.news_about_video{
    background-color: #F5F5F5;
    height: 300px;
    

}
.news_about_video h1{
    
    
}

.news_about_size{
    font-size: 14px;
}
.news_p_sizing{
    font-size: 14px;
    color: #6C6C6C;
}
/* ----------footer---- */
.app_store_icon{
    width: 135px;
    height: 40px;
}